venv/
__pycache__/
*.pyc

.env

invoices.db

uploaded_invoices/

invoice_export.xlsx

.DS_Store

outputs/venv/
__pycache__/
*.pyc

invoice_export.xlsx

uploaded_invoices/

.env

.DS_Store

*.db

outputs/
